# SF Salaries Exercise

** Import pandas as pd.**

In [2]:
import pandas as pd    #importing pandas library

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv('Salaries.csv')          #importing data from csv file called 'Salaries'

** Check the head of the DataFrame. **

In [4]:
sal.head()       #using head will get the top 5 rows of the data by default

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()         #using info will get columns without null so we get to know if there is a column has null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()     #using mean method to get the average and indexing 
                          #selecting column named 'BasePay' to get average of it

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()           #using max to get the max overtime pay by using indexing 
                                   #selecting column named 'Overtimepay'

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [36]:
x=sal['EmployeeName']['JOSEPH DRISCOLL']  #using indexing to get value match 'JOSEPH DRISCOLL' in the column named 'EmployeeName' 

x.loc['JobTitle','x']  #using loc to get intersect value of two (JobTitle,x)

KeyError: 'JOSEPH DRISCOLL'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [34]:
y=sal[[['EmployeeName']['JOSEPH DRISCOLL']],['TotalPayBenefits']] 

#trying to sellect JOSEPH DRISCOL from employeename column and get totalpaybenefits

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\begad\AppData\Local\Temp\ipykernel_20884\1307636025.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal.loc[['EmployeeName']['JOSEPH DRISCOLL']]['TotalPayBenefits']
C:\Users\begad\AppData\Local\Temp\ipykernel_20884\1307636025.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal.loc[['EmployeeName']['JOSEPH DRISCOLL']]['TotalPayBenefits']
C:\Users\begad\AppData\Local\Temp\ipykernel_20884\1307636025.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal.loc[['EmployeeName']['JOSEPH DRISCOLL']]['TotalPayBenefits']
C:\Users\begad\AppData\Local\Temp\ipykernel_20884\1307636025.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal.loc[['EmployeeName']['JOSEPH DRISCOLL']]['TotalPayBenefits']
C:\Users\begad\AppData\Local\Temp\ipykernel_20884\1307636025.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal.loc[['EmployeeName']['JOSEPH DRISCOLL']]['TotalPayBenefits']

TypeError: list indices must be integers or slices, not str

** What is the name of highest paid person (including benefits)?**

In [35]:
x=sal['TotalPayBenefits'].max() #using max method will get the highest value of the column TotalPayBenefits
x
sal.loc['EmployeeName','x']  #trying to use loc giving it two parameters and get the intersect value between them 
                             #to get the employee name with the max TotalPayBenefits

KeyError: 'x'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [15]:
x=sal['TotalPayBenefits'].min() #using min method will get the lowest value of the column TotalPayBenefits will get the lowest paid
x
sal.loc['EmployeeName','x']    #trying to use loc giving it two parameters and get the intersect value between them 
                             #to get the employee name with the min TotalPayBenefits

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [16]:
sal['BasePay']['2011':'2014'].mean()     #using mean method to get the average and indexing 
                                      #selecting column named 'BasePay' to get average of it selecting year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [31]:
sal['JobTitle'].nunique() #selecting column of job title by its name then usibg nunique method 
                          #this will get how many unique titles

2159

** What are the top 5 most common jobs? **

In [37]:
sal['JobTitle'].value_counts().head()    #using value_counts method will get number of repeation of the value i give it, here
                                          #it's the job title then using head will get the top 5 by default

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!